*~
.gradle
.idea/
.DS_Store
.idea
data/
__pycache__/
**/build
**/out
**/generated/
**/classes/
*.ipr
*.iws
*.iml
*.classpath
*.project
*.settings
*.log
*.gz
.~*
Exploration/.ipynb_checkpoints
.idea/codeStyles/Project.xml
tools/.creds
.vscode
